/* Reset margins */
* {
    margin: 0;
    padding: 0;
}

.container {
    width: 900px;
    height: 900px;
}

/* Style grid */
.row  {
    display: flex;
}

.block {
    border: 1px solid black;
}

button,
input {
    font-size: 20px;
}

button {
    padding: 10px 20px;
}

#favcolor {
    width: 40px;
    height: 40px;
}